.WinPage {
    opacity: 0;
    font-family: 'Handlee', cursive;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100dvh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    @include flexCenter;
    flex-direction: column;
    transform: translateX(-50%) scale(0.5);
    animation: winAnimation 1.5s forwards ease;

    &_title {
        font-size: 7rem;
        font-weight: 500;
        word-spacing: 0.5rem;
        color: $color-main-white;
        margin-bottom: 8rem;
        text-align: center;
    }

    &_image {
        position: relative;
        img {
            width: auto;
            height: 60vh;
        }
        .fig {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 700;
            font-size: 5rem;
            color: #ffcc66;
        }
    }
}



@keyframes winAnimation {
100%{
    transform: translateX(-50%) scale(1);
    opacity: 1;
}
}