

@keyframes slideToBottom {
    0% {
        transform: translateY(-126px)
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideToTop {
    0% {
        transform: translateY(126px)
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideToRight {
    0% {
        transform: translateX(126px)
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideToLeft {
    0% {
        transform: translateX(-126px)
    }
    100% {
        opacity: 1;
    }
}

.TileContainer {
    background-color: rgb(93, 134, 47);
    padding: 20px;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    animation-duration: 3s;
    border-radius: 30px;
    .Tile {
        color: white;
        font-size: 30px;
        border: 2px solid #000;
        border-radius: 30px;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgb(195, 176, 0);
            border-radius: 30px;
            animation-duration: 0.5s;
        }
    }
}

.slideToBottom {
    animation: slideToBottom forwards;
}

.slideToTop {
    animation: slideToTop forwards;
}

.slideToRight {
    animation: slideToRight forwards;
}

.slideToLeft {
    animation: slideToLeft forwards;
}

// .fadeOut {
//     animation: fadeOut 1s forwards;
// }
