/******************************************/
/*********GAME LOGIC ANIMATIONS************/
.slideToBottom {
    animation: slideToBottom forwards ease;
}

.slideToTop {
    animation: slideToTop forwards ease;
}

.slideToRight {
    animation: slideToRight forwards ease;
}

.slideToLeft {
    animation: slideToLeft forwards ease;
}

@keyframes slideToBottom {
    0% {
        transform: translateY(-$slide-size);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes slideToTop {
    0% {
        transform: translateY($slide-size);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes slideToRight {
    0% {
        transform: translateX($slide-size);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes slideToLeft {
    0% {
        transform: translateX(-$slide-size);
    }
    100% {
        transform: translate(0);
    }
}

/************GAME LOGIC ANIMATIONS************/
/*********************************************/

/*******************************************/
/************* START ANIMATIONS *************/

@keyframes zoomInCenter {
    100% {
        transform: scale(1) translate(-50%) rotate(0);
    }
}

.zoomInCenter {
    animation: zoomInCenter 1.5s ease-in-out forwards;
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translate(-50%, 0) rotate(-35deg);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 100%) rotate(-33deg);
    }
}

.slideFromTop {
    animation: slideFromTop 2s forwards ease;
}

/*---------------------------------------------------*/
/*---------------Instruction animation----------------*/

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        bottom: 8%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.slideIn {
    animation: slideIn 0.6s forwards ease;
}

@keyframes slideOut {
    0% {
        opacity: 1;
        bottom: 8%;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.slideOut {
    animation: slideOut 0.6s forwards ease;
}

/*---------------Instruction animation----------------*/
/*---------------------------------------------------*/
