@mixin transformFix {
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
}

@mixin textBgColor {
    display: inline-block;

    background-image: linear-gradient(rgba(0, 0, 0, 0.602), rgba(0, 0, 0, 0.637)),
        url(../assets/num.jpg);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin bgColor {
    background: #606c88; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #3f4c6b,
        #606c88
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
