$border-size: 0.3rem;
$grid-gap-size: 0.3rem;
$padding-size-container: 4rem;
$padding-size-box:1.2rem;
$container-width-length: 70rem;
$color-dark-grey: rgb(41, 41, 41);
$color-font-main: #47311f;


$tile-size: ($container-width-length - ($padding-size-container*2 + $grid-gap-size*3 + $padding-size-box*2))/4;

$slide-size: $tile-size + $grid-gap-size;