.WinPage {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #ffffff60;
    @include flexCenter;
    flex-direction: column;
    transform: translateX(-50%);

    &_title {
        font-size: 4rem;
    }

    &_image {
        position: relative;
        img {
            width: auto;
            height: 60vh;
        }
        .fig {
            position: absolute;
            bottom: 3.8rem;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 500;
            font-size: 2.5rem;
        }
    }
}
