.Tile {
    @include transformFix;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        // background-clip: text;

        // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        // box-shadow: 3px 3px rgba(41, 41, 41, 0.822);
        // background-color: rgb(248, 245, 245);
        animation-duration: 0.3s; //TODO:
        @include transformFix;
        &-1,
        &-3,
        &-5,
        &-7,
        &-9,
        &-11,
        &-13,
        &-15 {
            background-image: url(../assets/Tile-2.png);
            background-size: cover;
            background-repeat: no-repeat;
            // clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%);
            clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
        }

        &-2,
        &-4,
        &-6,
        &-8,
        &-10,
        &-12,
        &-14 {
            background-image: url(../assets/Tile-1.png);
            background-size: cover;
            background-repeat: no-repeat;
            // clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%);
            clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
        }
    }
}
