@media (max-height: 1236px) and (max-width: 1700px) {
    html {
        font-size: 55%;
    }
}
@media (max-height: 1236px) and (max-width: 1460px) {
    html {
        font-size: 48%;
    }
    .GameInit {
        top: 8rem;
        left: 20rem;
    }
}
@media (max-height: 1236px) and (max-width: 1125px) {
    html {
        font-size: 45%;
    }
    .GameInit {
        font-size: 3rem;
        top: 8rem;
        left: 20rem;
    }
}
@media (max-height: 1236px) and (max-width: 830px) {
      
    .TileContainer {
        top: 28rem;
        .item{
            cursor: default;
        }
    }
    
}



// @media (max-height: 800px) and (max-width: 830px) {
//     *{
//         cursor: default;
//     }

//     .TileContainer {
//         top: 25rem;
//     }
//     .GameInit {
//         font-size: 3rem;
//         top: 8rem;
//         left: 20rem;
//     }
// }

/*
// height: 700px
// */
// @media (max-height: 700px) and (max-width: 1200px) {
//     .GameInit {
//         font-size: 2.5rem;
//         top: 8rem;
//         left: 17rem;
//     }
    
// }
