@media only screen and (max-width: 1700px) {
    html {
        font-size: 55%;
    }
}
@media only screen and (max-width: 1460px) {
    html {
        font-size: 48%;
    }
    .GameInit {
        top: 8rem;
        left: 20rem;
    }
}
@media only screen and (max-width: 1125px) {
    .GameInit {
        font-size: 3rem;
        top: 8rem;
        left: 20rem;
    }
}

@media only screen and (max-width: 830px) {
    * {
        cursor: default;
    }

    .TileContainer {
        top: 35dvh;
        .item {
            cursor: default;
        }
    }

    .Welcome {
        &_instructions {
            font-size: 14px;
            width: 100vw;
            line-height: 18px;
            p {
                display: inline-block;
                margin: 10px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    * {
        cursor: default;
    }

    .GameInit {
        font-size: 20px;
        top: 6rem;
        left: 16rem;
    }

    .TileContainer {
        top: 30dvh;
        .item {
            cursor: default;
        }
    }

    .Welcome {
        &_instructions {
            font-size: 14px;
            width: 100vw;
            line-height: 17px;
            p {
                margin: 10px;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    * {
        cursor: default;
    }
    html {
        font-size: 35%;
    }
    .btn {
        width: auto;
        font-size: 15px;
        padding: 10px;
        margin: 0 20px;
    }

    .GameInit {
        font-size: 3rem;
        top: 8rem;
        left: 18rem;
    }

    .TileContainer {
        top: 30dvh;
        .item {
            cursor: default;
        }
    }

    .WinPage {
        &_title {
            font-size: 5rem;
            font-weight: 500;
            word-spacing: 0.5rem;
            margin-bottom: 5rem;
            text-align: center;
        }

        &_image {
            .fig {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                font-weight: 700;
                font-size: 3rem;
            }
        }
    }
}




/* Small phones: from 0 to 375px */
@media only screen and (max-height: 500px) and (max-width: 375px) {
    * {
        cursor: default;
    }
    html {
        font-size: 35%;
    }
    .btn {
        width: auto;
        font-size: 15px;
        padding: 10px;
        margin: 0 20px;
    }

    .GameInit {
        font-size: 2.3rem;
        top: 7rem;
        left: 16rem;
    }

    .TileContainer {
        top: 35dvh;
        .item {
            cursor: default;
        }
    }

    .WinPage {
        &_title {
            font-size: 5rem;
            font-weight: 500;
            word-spacing: 0.5rem;
            margin-bottom: 5rem;
            text-align: center;
        }

        &_image {
            .fig {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                font-weight: 700;
                font-size: 3rem;
            }
        }
    }
}


